/* RightGrotesk */
@font-face {
  font-family: "RightGrotesk";
  src: url("../assets/fonts/RightGrotesk/RightGrotesk-CompactBlack.otf");
  src: url("../assets/fonts/RightGrotesk/RightGrotesk-CompactBlack.otf")
    format("opentype");
  font-weight: 800;
  font-style: "normal";
}

/* Morganite */
@font-face {
  font-family: "Morganite";
  src: url("../assets/fonts/Morganite/Morganite-Book.ttf");
  src: url("../assets/fonts/Morganite/Morganite-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: "normal";
}

/* Editorial */
/* @font-face {
    font-family: "Editorial New";
    src: url("../assets/fonts/EditorialNew/EditorialNew-Ultralight.otf");
    src: url("../assets/fonts/EditorialNew/EditorialNew-Ultralight.otf")
      format("opentype");
    font-weight: 200;
    font-style: "normal";
  }
  
  @font-face {
    font-family: "Editorial New";
    src: url("./../assets/fonts/EditorialNew/EditorialNew-Regular.otf");
    src: url("./../assets/fonts/EditorialNew/EditorialNew-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: "normal";
  }
  
  @font-face {
    font-family: "Editorial New";
    src: url("./../assets/fonts/EditorialNew/EditorialNew-Ultrabold.otf");
    src: url("./../assets/fonts/EditorialNew/EditorialNew-Ultrabold.otf") format("opentype");
    font-weight: 800;
    font-style: "normal";
  } */

/* Inter */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Regular.ttf");
  src: url("../assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Medium.ttf");
  src: url("../assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-SemiBold.ttf");
  src: url("../assets/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: "normal";
}
